body {
    background: #252526;
    color: mediumseagreen;
}

#chatroomContainer {
    height: 90%;
    width: 15%;
    margin-left: 85%;
    margin-top: 5%;
    background-color: #363A36;
}

.chatroomListObject {
    list-style: none;
    height: 30px;
    margin-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: red;
}
