<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>

</head>
<body>
<h1 style="text-align: center; color: red">You? The ADMIN?!?!</h1>
<h2 style="text-align: center; color: red">Nice try Jackass</h2>

<img src="https://media1.tenor.com/m/aSkdq3IU0g0AAAAC/laughing-cat.gif" style="border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  margin: 20px auto; ">
<img src="https://assets-global.website-files.com/646218c67da47160c64a84d5/6463443b4648fab8dc73c49f_45.png">
<img src="https://media.tenor.com/zAl37cgD2jYAAAAe/blue-meme.png">
<img src="https://64.media.tumblr.com/ec2f3399b70fbe750574a3a3fb644cd5/569260a0272bfc59-40/s500x750/442992c1b72c06e28210fb7b554f2a1f93b945e0.gifv">
<img src="https://i.makeagif.com/media/9-21-2023/Hzfiea.gif">
</body>
</html>
