<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link th:href="@{/css/chat.css}" rel="stylesheet">
</head>
<body class="grid-container">

<div id="grid-header">
    <h1>Chatroom</h1>
</div>

<div id="chatroomUsers" class="grid-userContainer">
    <ul>
        <li>

        </li>
    </ul>
</div>

<div class="grid-messageContainer">
    <ul>
        <li class="listOfMessages" th:each="message : ${messages}">
            <div id="chat-messages">
            </div>
        </li>
    </ul>
</div>

<div class="grid-footer">
    <form th:action="@{/chat/newMessage}" th:object="${newMessage}" method="post">
        <label for="messageInput"></label>
        <input type="text" id="messageInput" placeholder="Message" field="*{text}" name="text" required>
        <button id="sendButton" type="submit">Send</button>
    </form>
</div>

<div id="chatroomContainer" class="grid-chatroomContainer">
    <h2>Chatrooms</h2>
    <ul id="chatroomList">
        <li class="listOfChatrooms" th:each="chatroom : ${chatrooms}">
            <form th:action="@{/chat}" method="get">
                <input type="hidden" name="chatID" class="chatID" th:value="${chatroom.getId()}"/>
                <button class="chatroomButton" type="submit" th:text="${chatroom.getName()}"
                        th:data-chatId="${chatroom.getId()}"></button>
            </form>
        </li>
    </ul>
</div>

<script th:src="@{/js/chat.js}"></script>

</body>
</html>
