<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link th:href="@{/styles/cssandjs/chat.css}" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Chatroom</h1>


    </header>


    <div id="chatroomUsers">
        <ul>
            <li class="user">
                <p>user 1</p>
            </li>
            <li class="user">
                <p>user 2</p>
            </li>
        </ul>
    </div>

    <div id="chatroomInput">
    </div>

    <div id="chatroomContainer">
        <ul id="chatroomList">
            <li class="chatroomListObject">
                <p>I am a list Object</p>
            </li>
            <li class="chatroomListObject">
                <p>I am a list Object</p>
            </li>
            <li class="chatroomListObject">
                <p>I am a list Object</p>
            </li>
            <li class="chatroomListObject">
                <p>I am a list Object</p>
            </li>
            <li class="chatroomListObject">
                <p>I am a list Object</p>
            </li>
        </ul>
    </div>

</body>
</html>
