<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="UTF-8">
  <title>CreateChat</title>
  <link th:href="@{/styles/cssandjs/createChat.css}" rel="stylesheet">
</head>
<body>
<div id="chatField">
  <h1 id="title">Chatroom</h1>

  <form action="/create" method="post" th:object="${chat}">
    <label for="name"></label>
    <input type="text" id="name" class="chatInput" placeholder="Name" th:field="*{name}" required><br/>



    <label><input type="checkbox" name="user" value="user1"> User 1</label><br>
    <label><input type="checkbox" name="user" value="user2"> User 2</label><br>
    <label><input type="checkbox" name="user" value="user3"> User 3</label><br>

    <br>




    <br><br>
    <button class="chatButton" type="submit">Create Chat</button>
  </form>
  <div id="chat">
    Back to <a th:href="@{/chat}">Chats</a>
  </div>
</div>

</body>
</html>