<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link th:href="@{/styles/cssandjs/register.css}" rel="stylesheet">

    <link rel = "pple-touch-icon" sizes="180x180" href="/images/lock-180.png">
    <link rel = "icon" type = "image/png" sizes="32x32" href="/images/lock-32.png">
    <link rel = "icon" type = "image/png" sizes="16x16" href="/images/lock-16.png">

</head>
<body>
<div id="registerField">
    <h1 id="title">Chatroom</h1>

    <form th:action="@{/registerUser}" th:object="${user}" method="post">
        <label for="firstname"></label>
        <input type="text" id="firstname" class="registerInput" placeholder="Firstname" th:field="*{firstname}" required>

        <label for="lastname"></label>
        <input type="text" id="lastname" class="registerInput" placeholder="Lastname" th:field="*{lastname}" required>
        <br/>

        <label for="email"></label>
        <input type="email" id="email" class="registerInput" placeholder="Email" th:field="*{email}" required>
        <br/>

        <label for="phoneNumber"></label>
        <input type="tel" id="phoneNumber" class="registerInput" placeholder="Phone number" th:field="*{phoneNumber}" required>

        <label for="password"></label>
        <input type="password" id="password" class="registerInput" placeholder="Password" th:field="*{password}" required>
        <br/>

        <button class="registerButton" type="submit">Register</button>
    </form>
    <div id="login">
       Back to <a th:href="@{/login}">Login</a>
    </div>
</div>
</body>
</html>
